<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    failOnDeprecation="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    cacheDirectory="build/.phpunit.cache"
>
    <testsuites>
        <testsuite name="CI Smarty">
            <directory>./tests</directory>
            <exclude>./tests/_support</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <php>
        <server name="app.baseURL" value="http://example.com/"/>
        <server name="CODEIGNITER_SCREAM_DEPRECATIONS" value="0"/>
        <const name="HOMEPATH" value="./"/>
        <const name="CONFIGPATH" value="./vendor/codeigniter4/framework/app/Config/"/>
        <const name="PUBLICPATH" value="./vendor/codeigniter4/framework/public/"/>
    </php>
</phpunit>
